<footer class="bg-primary text-white text-center mt-auto">
	<div class="d-flex align-items-center justify-content-center" style="min-height: 100px;">
		<p class="mt-2">
			Khalil Ahmad (1B) |
			{{ "now"|date("Y") }}
			Projet de Symfony | &copy; Tous droits réservés.
		</p>
	</div>
</footer>
