{% extends 'layout_blog.html.twig' %}

{% block title %}
	Créer un catégorie
{% endblock %}

{% block body %}

	<a href="{{ path('app_category_index') }}" class="btn btn-outline-primary">
		&nbsp;Retour à la liste des catégorie
	</a>

	<hr>
	<h1 class="text-center">Créer un catégorie</h1>

	{{ include('category/_form.html.twig') }}

{% endblock %}
