<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Welcome !
		</title>
	</head>
	<body>
		Bonjour, je suis la vue templates/blog/index.html.twig
		<BR/>
		<h1>
			Id :
			{{id}}
		</h1>
        <h1>
			Nom :
			{{nom}}
		</h1>
	</body>
</html>
