{% extends 'layout_jo.html.twig' %}

{% block title %}
	Ajouter un pays
{% endblock %}

{% block body %}

	<a href="{{ path('app_pays_index') }}" class="btn btn-outline-primary">
		<i class="fa-solid fa-arrow-left fa-2xl"></i>&nbsp;Retour à la liste
	</a>

	<h1 class="text-center">Ajouter un pays</h1>
	<hr>

	{{ include('pays/_form.html.twig') }}

{% endblock %}
