{% extends 'layout_jo.html.twig' %}

{% block title %}
	Ajouter un athlète
{% endblock %}

{% block body %}

	<a href="{{ path('app_athlete_index') }}" class="btn btn-outline-primary">
		<i class="fa-solid fa-arrow-left fa-2xl"></i>&nbsp;Retour à la liste
	</a>

	<h1 class="text-center">Ajouter un athlète</h1>
	<hr>

	{{ include('athlete/_form.html.twig') }}

{% endblock %}
