{% extends 'layout_blog.html.twig' %}

{% block title %}
	Modifier un article
{% endblock %}

{% block body %}

	<a href="{{ path('app_article_index') }}" class="btn btn-outline-primary">
		&nbsp;Retour à la liste des articles
	</a>
	<a href="{{ path('app_article_show', {'slug': article.slug }) }}" class="btn btn-outline-info">Détail de l'article</a>
	
    <hr>
	<h1 class="text-center">Modifier un article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
